<div class="container-fluid">
    <div class="row bg-white">
      <div class="col-sm-12 p-0">
        <div class="heading ms-5 mt-3 p-0">
          <h2>Dashboard</h2>
          <p class="text-primary">Welcome to MyRequest!</p>
        </div>
      </div>
    </div>
    <div class="row bg-gray p-5 pt-0">
      <hr>
      <!-- <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-secondary">
            <h1>{{employeeDeptObj.totEmp}}</h1>
            <h5>Total Employee</h5>
          </div>
          <div class="card-footer text-success text-center btn">More Info</div>
        </div>
      </div> 
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-warning">
            <h1>{{employeeDeptObj.totDept}}</h1>
            <h5>Total Department</h5>
          </div>
          <div class="card-footer text-warning text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-primary">
            <h1>{{employeeDeptObj.totUsers}}</h1>
            <h5>Total Users</h5>
          </div>
          <div class="card-footer text-primary text-center">More Info</div>
        </div>
      </div>-->
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-danger">
            <h1>{{employeeDeptObj.totRequest}}</h1>
            <h5>Total Request</h5>
          </div>
          <div class="card-footer text-danger text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-dark">
            <h1>{{employeeDeptObj.todaysReq}}</h1>
            <h5>Todays Request</h5>
          </div>
          <div class="card-footer text-dark text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-info">
            <h1>{{employeeDeptObj.totCompleted}}</h1>
            <h5>Total completed</h5>
          </div>
          <div class="card-footer text-info text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-success">
            <h1>{{employeeDeptObj.totOpen}}</h1>
            <h5>Total Open</h5>
          </div>
          <div class="card-footer text-success text-center">More Info</div>
        </div>
      </div>
  
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-success">
            <h1>{{employeeDeptObj.totCompletedToday}}</h1>
            <h5>Total Completed Today</h5>
          </div>
          <div class="card-footer text-success text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-4 p-0">
        <div class="card shadow m-2">
          <div class="card-body text-center text-white bg-success">
            <h1>{{employeeDeptObj.totOpenToday}}</h1>
            <h5>Total Open Today</h5>
          </div>
          <div class="card-footer text-success text-center">More Info</div>
        </div>
      </div>
    </div>
  </div>