<nav class="navbar navbar-expand-sm navbar-dark bg-success">
    <div class="container-fluid">
        <a class="navbar-brand" href="javascript:void(0)">MyRequest</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#mynavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="mynavbar">
            <ul class="navbar-nav me-auto">
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="admin-dept-dash">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="dept-create-request">Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" routerLink="dept-leave"> Leaves</a>
                 </li> 
                 <li class="nav-item">
                    <a class="nav-link text-white" routerLink="dept-approve-leave">Approve Leave</a>
                 </li> 
            </ul> 
            <i class="fa-solid fa-user"></i>
            {{loggedUserData.UserName}}
            <a href="#" class="btn btn-dark btn-sm ms-2">
                <span class="glyphicon glyphicon-log-out"></span> Log out
            </a>
        </div>
    </div>
</nav> 
<div class="container-fluid mt-3">
    <router-outlet></router-outlet>
</div> 
