<div class="row mt-3">
    <div class="col-8" [ngClass]="isSidePanelOpen?'col-8':'col-12'">
        <div class="card">
            <div class="card-header bg-primary">
                <div class="row">
                    <div class="col-6 text-white">
                        Employee List
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-dark" (click)="addEmployee()">Add Employee</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <input type="text" [(ngModel)]="search" (ngModelChange)="onFilter($event)" placeholder="search">
                       
                <div class="card">
                   
                    <table class="table table-bordered">
                         <thead>
                            <tr class="tr bg-primary">
                                <th >Sr.No</th>
                                <th (click)="sort('EmployeeName')">Employee Name</th>
                                <th (click)="sort('ContactNo')">Contact</th>
                                <th (click)="sort('EmailId')">Email</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of filteredempArr;let sr =index">
                                <td>{{sr+1}}</td>
                                <td>{{item.EmployeeName}}</td>
                                <td>{{item.ContactNo}}</td>
                                <td>{{item.EmailId}}</td>
                                <td>
                                    <button class="btn btn-sm btn-secondary mx-2" (click)="onEdit(item)">Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="onDelete(item.EmployeeId)">Delete</button>   
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <!-- <p-table [value]="empArray" [tableStyle]="{'min-width': '60rem'}">
                        <ng-template pTemplate="header">
                            <tr>
                                <th pSortableColumn="code" style="width:2%">Sr.No<p-sortIcon field="code"></p-sortIcon>
                                </th>
                                <th pSortableColumn="name" style="width:5%">EmployeeName<p-sortIcon
                                        field="name"></p-sortIcon></th>
                                <th pSortableColumn="category" style="width:3%">ContactNo <p-sortIcon
                                        field="category"></p-sortIcon></th>
                                <th pSortableColumn="quantity" style="width:3%">EmailId<p-sortIcon
                                        field="quantity"></p-sortIcon></th>
                                <th pSortableColumn="quantity" style="width:5%">Dept Id<p-sortIcon
                                        field="quantity"></p-sortIcon></th> -->
                                <!-- <th pSortableColumn="quantity" style="width:5%">Role<p-sortIcon
                                        field="quantity"></p-sortIcon></th>    
                                <th pSortableColumn="quantity" style="width:5%">UserName<p-sortIcon
                                            field="quantity"></p-sortIcon></th>    
                                <th pSortableColumn="quantity" style="width:5%">Password<p-sortIcon
                                                field="quantity"></p-sortIcon></th>     -->
                                <!-- <th pSortableColumn="quantity" style="width:7%">Action<p-sortIcon
                                                field="quantity"></p-sortIcon></th>                            
                            </tr>
                        </ng-template>
                        <ng-template pTemplate="body" let-item let-i="rowIndex">
                            <tr>
                                <td>{{i+1}}</td>
                                <td>{{item.EmployeeName}}</td>
                                <td>{{item.ContactNo}}</td>
                                <td>{{item.EmailId}}</td>
                                <td>{{item.DeptId}}</td>  -->
                                <!-- <td>{{item.Role}}</td> 
                                <td>{{item.UserName}}</td> 
                                <td>{{item.Password}}</td>  -->
                                <!-- <td>
                                    <button class="btn btn-sm btn-secondary mx-2" (click)="onEdit(item)">Edit</button>
                                    <button class="btn btn-sm btn-danger" (click)="onDelete(item.EmployeeId)">Delete</button>
                                </td>                                                                                                   
                            </tr>
                        </ng-template> -->
                    <!-- </p-table>  -->
                </div>
            </div>
        </div>
    </div>
    <div class="col-4" *ngIf="isSidePanelOpen">
        <div class="card">
            <div class="card-header bg-primary text-white">
                <div class="row">
                    <div class="col-6 text-white">
                        Form
                    </div>
                    <div class="col-6 text-end">
                        <button class="btn btn-sm btn-danger border" (click)="onCloseSidePanel()">Close</button>
                    </div>
                </div>
            </div>
            <div class="card-body">
                <form>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Employee Name</label>
                            <input type="text" name="EmployeeName" class="form-control"
                                [(ngModel)]="empObject.EmployeeName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Contact No</label>
                            <input type="text" name="ContactNo" class="form-control" [(ngModel)]="empObject.ContactNo">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Email Id</label>
                            <input type="text" name="EmailId" class="form-control" [(ngModel)]="empObject.EmailId">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Role</label>
                            <input type="text" name="Role" class="form-control" [(ngModel)]="empObject.Role">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">UserName</label>
                            <input type="text" name="UserName" class="form-control" [(ngModel)]="empObject.UserName">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Password</label>
                            <input type="text" name="UserName" class="form-control" [(ngModel)]="empObject.Password">
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">Select Deparment</label>
                            <select name="dpdl" class="form-control" (change)="getEmpDeptbyId()"
                                [(ngModel)]="empObject.DeptId">
                                <option value="Select Deparment">Select Deparment</option>
                                <option [value]="item.DeptId" *ngFor="let item of deptArray">{{item.DeptName}}</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            <label for="">ReportsTo Senoir</label>
                            <select name="reports" class="form-control" [(ngModel)]="empObject.ReportsTo">
                                <option value="Select Senoir">Senoir Reports To</option>
                                <option [value]="item.EmployeeId" *ngFor="let item of empArray">{{item.EmployeeName}}
                                </option>
                            </select>
                        </div>
                    </div>
                    <div class="row mt-4">
                        <div class="col-6 text-end">
                            <button class="btn btn-sm btn-success border"  *ngIf="empObject.EmployeeId == 0" (click)="saveEmployee()">Save</button>
                            <button class="btn btn-sm btn-success border" *ngIf="empObject.EmployeeId != 0" (click)="empUpdate()">Update</button>
                        </div>
                        <div class="col-6">
                            
                            <button class="btn btn-sm btn-danger border" (click)="oncleare()">Clear</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>