
<div class="container-fluid">
    <div class="row bg-white">
      <div class="col-sm-12 p-0">
        <div class="heading ms-5 mt-1 p-0 text-center">
          <h2>Admin Dashboard</h2>
          <marquee behavior="alternet" direction="left"><p class="text-primary">Welcome to MyRequest!</p></marquee>
        </div>
      </div>
    </div>
    <div class="row bg-gray p-2 pt-0">
      <hr>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-success rounded-pill">
            <h1>{{adminObj.totEmp}}</h1>
            <h5>Total Employee</h5>
          </div>
          <div class="card-footer text-success text-center btn">More Info</div>
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-warning rounded-pill">
            <h1>{{adminObj.totDept}}</h1>
            <h5>Total Department</h5>
          </div>
          <div class="card-footer text-warning text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-danger rounded-pill">
            <h1>{{adminObj.totUsers}}</h1>
            <h5>Total Users</h5>
          </div>
          <div class="card-footer text-primary text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-primary rounded-pill">
            <h1>{{adminObj.totRequest}}</h1>
            <h5>Total Request</h5>
          </div>
          <div class="card-footer text-danger text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-dark rounded-pill">
            <h1>{{adminObj.todaysReq}}</h1>
            <h5>Todays Request</h5>
          </div>
          <div class="card-footer text-dark text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-info rounded-pill">
            <h1>{{adminObj.totCompleted}}</h1>
            <h5>Total completed</h5>
          </div>
          <div class="card-footer text-info text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-secondary rounded-pill">
            <h1>{{adminObj.totOpen}}</h1>
            <h5>Total Open</h5>
          </div>
          <div class="card-footer text-success text-center">More Info</div>
        </div>
      </div>
  
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-danger rounded-pill">
            <h1>{{adminObj.totCompletedToday}}</h1>
            <h5>Total Completed Today</h5>
          </div>
          <div class="card-footer text-success text-center">More Info</div>
        </div>
      </div>
      <div class="col-sm-3 p-0">
        <div class="card shadow m-1">
          <div class="card-body text-center text-white bg-warning rounded-pill">
            <h1>{{adminObj.totOpenToday}}</h1>
            <h5>Total Open Today</h5>
          </div>
          <div class="card-footer text-success text-center">More Info</div>
        </div>
      </div>
    </div>
  </div>